# Week 8

### Exercise 1
Tilgå https://www.dba.dk/ og find alle links på siden ved hjælp af BeautifulSoup og gem dem i en liste.

In [4]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.dba.dk/'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
r.raise_for_status()
soup = BeautifulSoup(r.text, 'html.parser')
elems = []
for a in soup.find_all('a'):
    links = []
    if not a.get('href').startswith('http'):
        continue
    links.append(a.get('href'))
    elems.append(a.get('href'))
    print(links)

['https://www.dba.dk/']
['https://guide.dba.dk']
['https://support.dba.dk/']
['https://www.dba.dk/opret-annonce/']
['https://support.dba.dk/']
['https://info.dba.dk/kontakt/']
['https://jobs.ebayclassifiedsgroup.com/dba']
['https://dba.presscloud.com/nr/#/']
['https://guide.dba.dk']
['https://sikkerhed.dba.dk/']
['https://info.dba.dk/vilkaar/brugervilkaar']
['https://info.dba.dk/vilkaar/annonceringsregler']
['https://info.dba.dk/vilkaar/persondatapolitik']

AttributeError: 'NoneType' object has no attribute 'startswith'

### Exercise 2
1. Brug pandas til at oprette et dataframe, som du lægger linksne i.
2. Opret et sql table og læg dataframet deri.

In [6]:
import pandas as pd
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly

con_str = "mysql+mysqlconnector://root:root@db/db"
engine = create_engine(con_str)

print(elems)

df = pd.DataFrame(elems, columns = ['Links'])
df = df.applymap(str)
df.to_sql('dbalinks',con=engine, if_exists='replace', index = False)
df

['https://www.dba.dk/', 'https://guide.dba.dk', 'https://support.dba.dk/', 'https://www.dba.dk/opret-annonce/', 'https://support.dba.dk/', 'https://info.dba.dk/kontakt/', 'https://jobs.ebayclassifiedsgroup.com/dba', 'https://dba.presscloud.com/nr/#/', 'https://guide.dba.dk', 'https://sikkerhed.dba.dk/', 'https://info.dba.dk/vilkaar/brugervilkaar', 'https://info.dba.dk/vilkaar/annonceringsregler', 'https://info.dba.dk/vilkaar/persondatapolitik']

                                             Links
0                              https://www.dba.dk/
1                             https://guide.dba.dk
2                          https://support.dba.dk/
3                https://www.dba.dk/opret-annonce/
4                          https://support.dba.dk/
5                     https://info.dba.dk/kontakt/
6        https://jobs.ebayclassifiedsgroup.com/dba
7                 https://dba.presscloud.com/nr/#/
8                             https://guide.dba.dk
9                        https://sikkerhed.dba.dk/
10       https://info.dba.dk/vilkaar/brugervilkaar
11  https://info.dba.dk/vilkaar/annonceringsregler
12   https://info.dba.dk/vilkaar/persondatapolitik

### Exercise 3
1. Brug flask til at hive dataen fra databasen ud på en side (hint: GET request).
2. Lav en post metode, til at indsætte ny data i tabellen.

In [2]:
#Flask program under python_handin_template/Week_08_flask.py
import Week_08_flask as flsk

flsk.add_link('https://www.erger.dk')

Added: https://www.erger.dk